@import 'utils';

.header {
  background: $oc-blue-4;
  .content {
    height: 5rem;
    width: 1400px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;

    display: flex;
    align-items: center;

    @include media("<wide") {
      width: 100%;
    }

    @include media("<medium") {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .brand {
      color: white;
      font-size: 2rem;
      font-weight: 600;
    }

    .menu {
      margin-left: auto;
    }
  }
}