@import 'utils';

.button {
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  user-select: none;
  display: inline-flex;

  &.outline {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 3px;

    &:hover {
      background: white;
      color: $oc-blue-6;
    }

    &:active {
      background: rgba(255, 255, 255, 0.85);
      border: 2px solid rgba(255, 255, 255, 0.85);
    }
  }

  &:hover {
    @include material-shadow(3, 0.6);
  }

  &.disabled {
    background: $oc-gray-4;
    color: $oc-gray-6;
    cursor: default;

    &:hover, &:active {
      box-shadow: none;
      background: $oc-gray-4;
    }
  }

  & + & {
    margin-left: 0.5rem;
  }
}